@page
@model ProjecteSOS_Grup03WebPage.Pages.Profile.ChangePasswordModel
@{
	ViewData["Title"] = "Canviar Contrasenya";
	var token = HttpContext.Session.GetString("AuthToken");
	var loggedIn = Tools.TokenHelper.IsTokenSession(token);
}

<h2>Canviar Contrasenya</h2>

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
	<div class="alert alert-danger">@Model.ErrorMessage</div>
}

@if (loggedIn)
{
	<form method="post">
		<div class="mb-3">
			<label asp-for="OldPassword">Contrasenya Actual</label>
			<input asp-for="OldPassword" class="form-control" type="password" />
			<span asp-validation-for="OldPassword" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="NewPassword">Nova Contrasenya</label>
			<input asp-for="NewPassword" class="form-control" type="password" />
			<span asp-validation-for="NewPassword" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary">Desar</button>
		<a asp-page="Profile" class="btn btn-secondary">Cancel·lar</a>
	</form>
}
else
{
	<div class="alert alert-danger">Inicia sessió per a poder canviar la contrasenya del teu usuari</div>
}