@page
@model IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@using ProjecteSOS_Grup03WebPage
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["HomePageTitle"];
}

<div class="text-center normal-txt">
    <h1 class="display-4">@SharedLocalizer["Welcome"]</h1>
    <p>@SharedLocalizer["LearnAbout"] <a href="https://learn.microsoft.com/aspnet/core">@SharedLocalizer["LearnAboutLinkText"]</a>.</p>
    <h2>Productes recomenats</h2>
    <h2>Productes eco friendly</h2>
    <h2>Productes economics</h2>
</div>
